
.texto{
    align-items: center;
}




/* Estilo para o modal */
.login {
    display: none; /* Esconde o modal por padrão */
    position: fixed; /* Posiciona o modal de forma fixa na tela */
    z-index: 1; /* Define a ordem de empilhamento */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* Adiciona rolagem caso o conteúdo do modal seja maior que a tela */
    background-color: rgba(0,0,0,0.4); /* Adiciona um fundo escuro semi-transparente */
  }
  
  /* Estilo para o conteúdo do modal */
  .login-content {
      display: flex;
      flex-direction: column;
    background-color: #fefefe;
    margin: 15% auto; /* Centraliza o conteúdo verticalmente e o posiciona 15% do topo da tela */
    padding: 20px;
    border: 1px solid #888;
    width: 40%; /* Define a largura do conteúdo do modal */
  }
  .login-header{
      display: flex;
      justify-content: space-between;
      align-items: center;
      
  }
  
  /* Estilo para o botão de fechar */
  #close-login {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  #close-login:hover,
  #close-login:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  label {
    font-weight: bold;
    margin-bottom: 10px;
  }
  input {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
/* começando a estilizar a tela de login*/
.tela{
    width: 80%;
    justify-content: center;
    align-items: center;
}

.butão{
    width: 50px;
    color: black;
  




















}


  
